<body id="body-itemsBuscados">
    <div id="containerFlexItemsBuscados">
        <div id="flexItemsBuscados">


        </div>
    </div>

    <script src="../../javascript/global.js"></script>
    <script src="../../javascript/itemsBuscados.js" palabra="{{{queryBuscada}}}"> </script>
</body>