<body id="bodyPreguntasFrecuentes">
    <div id="containerGeneralPreguntas">
        <div id="containerTituloPreguntas">
            <h1 id="tituloPreguntas">Preguntas frecuentes</h1>
        </div>
        <div id="containerAcordeonPreguntas">
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <strong>¿Qué es PostMovie?</strong>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            PostMovie es esa página a la que acudir cuando deseas saber qué opinión tienen el resto
                            de usuarios sobre una pelicula o serie televisiva. Además podrás realizar tus
                            propias valoraciones sobre las mismas y tener un registro de ello.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>¿Qué puedo encontrar en PostMovie?</strong>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            En PostMovie podrás encontrar gran variedad de peliculas y series televisivas y, lo mejor de
                            todo: <strong>¡Siempre actualizada con los últimos estrenos!</strong> <br>Tendrás a tu
                            disposición gran informacion de interés
                            sobre tu selección: fecha de lanzamiento, sinopsis, imágenes, géneros, puntuación media de
                            los
                            usuarios ...
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>¿Cuánto cuesta PostMovie?</strong>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>¡Estás de suerte!</strong> PostMovie es completamente gratuito. Solo debes crear una
                            cuenta y empezar
                            a disfrutar de todas las ventajas que brinda PostMovie.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <strong>¿Qué dispositivos son compatibles?</strong>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            PostMovie ha sido programada para que pueda ser visualizada en cualquiera de tus
                            dispositivos favoritos. Desde tu smartphone hasta tu tablet, web o Smart TV.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="containerButtonContactar">
            <a href="mailto:jngivan26@gmail.com" id="enlaceBotonContactarPregFrec">
                <button class="buttonContactarPregFrec"> Contactar
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                        </svg>
                    </div>
                </button>
            </a>
        </div>
    </div>
</body>