<div class="container-fluid mt-auto" id="footer">
    <div class="row text-white p-5 text-center">
        <div class="col-sm-4" id="primeraColumnaFooter">
            <h1 id="postMovieFooter"><span id="postFooter">Post</span>Movie</h1>
        </div>
        <div class="col-sm-4" id="colSegundaColumnaFooter">
             <h6 id="aboutFooter"><strong>ABOUT</strong></h6>
            <p id="textoAbout"><br>Página creada para la valoración y seguimiento de peliculas y series televisivas</p>
        </div>
        <div class="col-sm-4" id="terceraColumnaFooter">
            <h6 class="text-uppercase font-weight-bold" id="esencialFooter"><strong>ESENCIAL</strong></h6>
            <p id="textoPreguntasFrecuentes"><br><a href="/usuarios/vistas/preguntas" id="enlacePreguntasFrec">Preguntas frecuentes</a></p>
            <p><a href="mailto:jngivan26@gmail.com" id="enlaceContacto">Contacto</a></p>
            <div id="containerBtnFooter">
                <a href="/" class="button-home">Home</a>
            </div>                    
        </div>
    </div>
    <div class="row text-white text-center pt-3" id="rowfooter">
        <div class="col">
            <p>© 2022 Iván Álvarez Martínez - Todos los Derechos Reservados.</p>
        </div>
    </div>
</div>