<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <span id="textoPostHeader">Post</span>Movie</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="navItemLogin">
          <a class="nav-link active" aria-current="page" href="/usuarios/vistas/login" id="btn-login-header">Login</a>
        </li>
        <li class="nav-item" id="navItemRegistrar">
          <a class="nav-link active" aria-current="page" href="/usuarios/vistas/registrar"
            id="btn-registro-header">Registro</a>
        </li>

        <li class="nav-item" id="navItemCerrarSesion">
          <a class="nav-link active" aria-current="page" href="/usuarios/logout" id="btn-logout-header">Cerrar
            Sesion</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
        <li class="nav-item" id="navItemBuscar">
          <form class="d-flex" action="/items/vistas/itemsBuscados">
            <input class="form-control me-2 inputSearch inputBordeMorado" type="" placeholder="Buscar pelicula o serie"
              aria-label="Search" id="item" name="item">
            <button class="btn btn-outline-light" type="submit">Buscar</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id="navItemPeliculas">
          <a class="nav-link active" aria-current="page" href="/peliculas/vistas/peliculas" id="btn-soloPeliculas">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/series/vistas/series" id="btn-soloSeries">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/usuarios/vistas/perfil" id="btn-login-header">Perfil</a>
        </li>
      </ul>
      

    </div>
  </div>
</nav>
<script src="../../javascript/header.js"></script>